{% extends "starter-page.html" %}
{% block title %}Book Room{% endblock %}
{% block content %}
    {% if redirect_to_ticket and ticket_id %}
<div class="alert alert-success text-center w-50 d-block m-auto">
    Your room has been successfully booked! Redirecting you to your ticket...
</div>

<script>
    setTimeout(function() {
        window.location.href = "{% url 'ticket_download' ticket_id %}";
    }, 3000);
</script>
{% endif %}

<div class="container mt-5">
    <h2>Book Room {{ room.room_number }}</h2>

    <form method="POST" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6 w-25 m-auto">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control border-1 rounded-5" name="customer_name" required>
        </div>

        <div class="col-md-6 w-25 m-auto">
            <label class="form-label">Email</label>
            <input type="email" class="form-control border-1 rounded-5" name="email" required>
        </div>

        <div class="col-md-6 w-25 m-auto">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control border-1 rounded-5" name="phone" required>
        </div>
        <br>
        <div class="col-md-3 w-25 m-auto">
            <label class="form-label">Age</label>
            <input type="number" class="form-control border-1 rounded-5" name="age" required>
        </div>
        <br>
        <div class="col-md-3 w-25 m-auto">
            <label class="form-label">ID Number</label>
            <input type="text" class="form-control border-1 rounded-5" name="id_number" required>
        </div>
        <div class="col-md-3 w-25 m-auto">
            <label class="form-label">Number of People</label>
            <input type="number" class="form-control border-1 rounded-5" name="people" required>
        </div>
        <div class="col-md-3 w-50 m-auto">
            <label class="form-label">Check-In Date</label>
            <input type="date" class="form-control border-1 rounded-5" name="check_in" required>
        </div>
        <div class="col-md-3 w-50 m-auto">
            <label class="form-label">Check-Out Date</label>
            <input type="date" class="form-control border-1 rounded-5" name="check_out" required>
        </div>
        <div class="col-12 w-75 m-auto">
            <label class="form-label text-center">Message (Optional)</label>
            <textarea class="form-control border-1 rounded-5" name="message" rows="3"></textarea>
        </div>
        <div class="col-12 d-flex mt-2 mb-2 m-auto">
            <button type="submit" class="btn btn-primary border-0 rounded-5">Book Room</button>
            <button type="submit" class="btn btn-outline-primary ms-2 border-1 rounded-5"><a href="/rooms/" class="text-dark-emphasis">Back</a></button>
        </div>
    </form>
</div>
{% endblock %}
